<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndroidEasingFunctions" version="1.0.2.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid60" />
  <package id="NineOldAndroids" version="2.4.0" targetFramework="monoandroid60" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.DeviceMotion" version="1.0.3" targetFramework="monoandroid60" />
</packages>